ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }
  
  ion-content{
    --background: var(--ion-color-header);
   
  }

  .header{
    --background: var(--ion-color-background-app);
  }
  ion-card{
    --background: var(--ion-color-header);
    color:rgb(32, 31, 31);
}

.map {
    transform: translate(70%, 5%);
    width: 150px;
    height: 350px;
    padding-bottom: 50px;
}