ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }
  
  ion-content{
    --background: var(--ion-color-header);
   
  }

  .header{
    --background: var(--ion-color-background-app);
  }

  .img_principal {
    width: 365px;
    height: 250px;
    border-radius: 30px;
  }

  .img_secundaria {
    width: 70px;
    height: 50px;
    border-radius: 5px;
    transform: translate(10%);
  }
  
  
ion-card{
    display: flex;
    flex-flow: column-reverse;
    --background: var(--ion-color-background-app);
    color:rgb(196, 164, 164);
}


.description{
color:white;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
}