<ion-app>
  <ion-menu contentId="main-content" auto-hide="true">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Alojamento</ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-content>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/home" style = "--background: var(--ion-color-header);">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Home
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/presentation" style = "--background: var(--ion-color-header);">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          About Me
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/location" style = "--background: var(--ion-color-header);">
          <ion-icon slot="start" name="location-outline"></ion-icon>
          Location
          </ion-item>
        </ion-menu-toggle>
  </ion-content>
  </ion-menu>

  <ion-header id="main-content">
    <ion-toolbar class = "header">
      <ion-icon slot="start" name="chevron-back-outline" routerLink ="/location"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Alojamento</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

  

<ion-grid>
    <ion-row>
      <ion-col size="12">
        <img [src]="mainImage" class = "img_principal">
      </ion-col>
    </ion-row>
    <!-- Loop pelas imagens secundárias -->
    <ion-row>
      <ng-container *ngFor="let image of secondaryImages; let i = index;">
        <!-- Cada imagem é exibida em uma coluna com tamanho 3 -->
        <!-- Se o índice da imagem for divisível por 3, exibe em uma nova linha -->
        <ion-col size="3" *ngIf="i % 3 === 0">
          <img [src]="mainImage" (click)="changeMainImage(secondaryImages[i])" class = "img_secundaria">
        </ion-col>
        <ion-col size="3" *ngIf="i % 3 === 0">
          <img [src]="secondaryImages[i]" (click)="changeMainImage(secondaryImages[i])" class = "img_secundaria">
        </ion-col>
        <!-- Se o índice da imagem for divisível por 3 + 1, exibe na mesma linha da anterior -->
        <ion-col size="3" *ngIf="i % 3 === 1">
          <img [src]="secondaryImages[i]" (click)="changeMainImage(secondaryImages[i])" class = "img_secundaria"> 
        </ion-col>
        <!-- Se o índice da imagem for divisível por 3 + 2, exibe na mesma linha das anteriores -->
        <ion-col size="3" *ngIf="i % 3 === 2">
          <img [src]="secondaryImages[i]" (click)="changeMainImage(secondaryImages[i])" class = "img_secundaria">
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <ion-card>
   <h2 class="titulo">Casa da Torre</h2>
    <ion-card-content>
      - Casa de férias com Piscina, situado numa propriedade com 6000 m2.
    <br>- Salas amplas com dois ambientes separados, sala de jantar, convívio e ainda sala de divertimentos com bilhar e outros jogos de família.
    <br>- Dispõe relvado para prática de futebol, Churrasqueira no exterior e forno, ginásio interior, e uma magnífica vista panorâmica.
    <br>- Dispõe ainda de zona no exterior para refeições, jardim ou alpendre.
    </ion-card-content>
  </ion-card>
</ion-content>
</ion-app>
